{
  "apiNodePort": {{explorerApiNodePort}},
	"endpoints": {
		"marketData": "{{marketData}}",
    "statisticsService": "{{statisticsService}}"
	},
	"networkConfig": {
		"namespaceName": "{{namespaceName}}",
		"divisibility": "{{maxMosaicDivisibility}}",
		"namespaceId": "{{{toSimpleHex namespaceId}}}"
	},
	"footer": {{{toJson footer}}},
  "timezone": "{{timezone}}"
}

